.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.DS_Store

client/node_modules
client/.next

server/.venv
server/venv
server/.env
server/uploads

README.md
free_models.json
free_vision_models.json
