fastapi[standard]
pymongo
pyjwt
passlib
pydantic-settings
bcrypt
langchain>=0.3.15
langchain-google-genai>=2.0.8
langchain-community>=0.3.15
langgraph>=0.1.0
chromadb>=0.5.0
python-multipart
aiofiles
pandas